.scrollStackContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.scrollStackScroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.scrollStackInner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.scrollStackCardWrapper {
  position: relative;
}

.scrollStackCard {
  transform-origin: top center;
  will-change: transform, filter, opacity;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  min-height: 18rem;
  width: 100%;
  padding: 2rem;
  border-radius: 24px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.scrollStackEnd {
  width: 100%;
  height: 1px;
}
